{% extends "base.html" %} {% block content %}
<header>
  <h1>Planner Dashboard</h1>
</header>

<main>
  <div>
    <h2>Add Assignment</h2>

    <form method="POST" action="/add-assignment">
      <label>
        Title:
        <input type="text" name="title" required />
      </label>
      <br />

      <label>
        Due Date:
        <input type="date" name="due_date" />
      </label>
      <br />

      <button type="submit">Add</button>
    </form>

  </div>

  <div>
    <h2>Add Event</h2>

    <form action="/add-event" method="post">
      <label>
        Title:
        <input type="text" name="name" required />
      </label>
      <br />

      <label>
        Date:
        <input type="date" name="date" />
      </label>
      <br />

      <button type="submit">Add</button>
    </form>

  </div>

  <div class="card">
    <h2>Assignments</h2>
    {% if assignments %}
    <ul>
      {% for a in assignments %}
      <li>{{ a[0] }} - {{ a[1] }}</li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No assignments yet!</p>
    {% endif %}
  </div>

  <div class="card">
    <h2>Events</h2>
    {% if events %}
    <ul>
      {% for a in events %}
      <li>{{ a[0] }} - {{ a[1] }}</li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No events yet!</p>
    {% endif %}
  </div>
</main>
{% endblock %}
